[submodule "freetype2"]
	path = vendor/freetype2
	url = git://git.savannah.gnu.org/cgit/freetype/freetype2.git
	ignore = dirty
[submodule "wxWidgets"]
	path = vendor/wxWidgets
	url = git://github.com/wxWidgets/wxWidgets.git
	ignore = dirty
[submodule "googletest"]
	path = vendor/googletest
	url = git://github.com/google/googletest.git
	ignore = dirty
[submodule "ffmpeg"]
	path = vendor/ffmpeg
	url = git://source.ffmpeg.org/ffmpeg.git
	ignore = dirty
[submodule "ffms2"]
	path = vendor/ffms2
	url = git://github.com/FFMS/ffms2.git
	branch = master
	ignore = dirty
[submodule "libass"]
	path = vendor/libass
	url = git://github.com/libass/libass.git
	branch = master
[submodule "icu"]
	path = vendor/icu
	url = git://github.com/unicode-org/icu.git
	branch = master
	ignore = dirty
[submodule "boost"]
	path = vendor/boost
	url = git://github.com/boostorg/boost.git
	ignore = dirty
[submodule "fftw"]
	path = vendor/fftw
	url = git://github.com/FFTW/fftw3.git.git
	ignore = dirty
[submodule "uchardet"]
	path = vendor/uchardet
	url = https://gitlab.freedesktop.org/uchardet/uchardet.git
	ignore = dirty
